html {
	font-size: 70%;
}
body {
	width: 100%;
	height: 70%;
}
.movie_list {
	display: flex;
	justify-content: center;
	margin: 150px 60px;
	padding: 2rem;
	border: 5px double white;
}
.movie_poster img {
	width: 300px;
}
.movie_rating {
	color: white;
	display: block;
}
